*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
header{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    position: relative;
}
.humburger{
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 8px;
    /* box-shadow: 1px 1px 1px 1px rgb(168, 168, 168); */
}

.humburger>button{
    border: none;
}
.humburger_mobile>button{
    border: none;
}
.humburger_mobile{
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 8px;
    display: none;
}
.all_tools{
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(212, 212, 212);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px lightgray;
}
.all_tools>i{
    color:#3d3d3d;
}
.fa-lock>span.line{
    border-right: 2px solid rgb(121, 119, 119);
    padding-left: 25px;
}
.fa-rectangle{
    height: 14px;
    width: 14px;
    border: 1px solid #3d3d3d;
}
.library{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.users{
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6965db;
    border-radius: 8px;

}
.library_icon{
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 8px;
}
.library_icon>i,.library_icon>p{
    font-size: 12px;
    color:#3d3d3d;
}
.users>i{
    font-size: 12px;
    color: white;
}
.container{
    height:550px;
    /* width: 100vw; */
}
/* footer */
.footer_funct{
    width: 400px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 100%;
    left: 20px;

}
.zoom_func{
    display: flex;
    height: 30px;
    /* width: 40px; */
    border-radius: 8px;
    overflow: hidden;
}
.zoom_func>button{
    font-size: 18px;
    font-weight: 600;
    /* height: 100%;
    width: 100%; */
    border: none;
    padding:0px 15px 0px 15px;
    background-color: rgb(242, 242, 242);
}
.output{
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid lightgray; */
}
.undo_rendu{
    display: flex;
    gap: 1px;
    border-radius: 8px;
    overflow: hidden;
}
.undo_rendu>button{
    padding:0px 15px 0px 15px;
    border: none;
}
@media screen and (max-width:900px){
   
    header{
        flex-direction: column;
        gap:20px
    }
    .humburger{
        /* display: none; */
        position: absolute;
        top: 100%;
        left: 10px;
    }
    .library{
        position: absolute;
        top: 100%;
        right: 10px;
    }

    
}
@media screen and (max-width:650px){
   
    .all_tools{
        width: 100vw;
    }
    
}